.BuildControls {
    width: 100%;
    background-color: salmon;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 10px 10px rgb(25, 25, 25);
    margin: auto;
    padding: 10px 0;
}