/* Mobile */
.NavItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

/* Desktop */
@media screen and (min-width: 500px) {
    .NavItems {
        flex-flow: row;
    }
}