.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    width: 80px;
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 10px 10px rgb(153, 153, 153);
}

.BuildControl button:disabled {
    background-color: rgb(250, 158, 148);
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: rgb(250, 158, 148);
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {
    background-color: #99b898;
    color: white;
}

.BuildControl .More {
    background-color: #438a5e;
    color: white;
}

.BuildControl.Less:hover, 
.BuildControl.Less:active {
    background-color: rgb(212, 108, 97);
    color: white;
}

